{% extends 'base.html' %}

{% block content %}

<div id='sociat'></div>

<div class='row text-center d-none'>
    <div class='col'>
        <h1>Welcome to SociaT</h1>
    </div>
</div>

<div class='row mb-4 d-none'>
    <div class='col-md-4 mx-auto col-10'>
        <form class = 'form' id="tweet-create-form" method="POST" action="/create-tweet/">
            {% csrf_token %}
            <div class="d-none alert alert-danger" id='tweet-create-form-error'></div>
            <input type='hidden' value='/' name="next" />
            <textarea required='required' class='form-control' name='content' placeholder="Take a shot"></textarea>
            <button type="submit" class='btn btn-primary'>Tweet</button>
        </form>
    </div>
</div>




<div class='row d-none' id='sociat'>
    Loading...
</div>



<script>
    function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

    function handleTweetFormError(msg, display) {
        var myErrorDiv = document.getElementById('tweet-create-form-error')

        if (display === true) {
            // show error
            myErrorDiv.setAttribute('class', 'd-block alert alert-danger')
            myErrorDiv.innerText = msg
        } else {
            //hide error
            myErrorDiv.setAttribute('class', 'd-none aler alert-danger')
        }
    }

    function handleTweetFormSubmit(event) {
        event.preventDefault()
        const myForm = event.target
        const myFormData = new FormData(myForm)
        const url = myForm.getAttribute('action')
        const method = myForm.getAttribute('method')
        const xhr = new XMLHttpRequest()
        xhr.open(method, url)
        const responseType = 'json'
        xhr.responseType = responseType
        xhr.setRequestHeader('HTTP_X_REQUESTED_WITH', 'XMLHttpRequest')
        xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest')
        xhr.onload = function() {
            if (xhr.status===201) {
                handleTweetFormError('', false)
                const new_tweet_json = xhr.response
                // const newTweetJson = JSON.parse(new_tweet)
                const newTweetElement = formatTweets(new_tweet_json)
                const ogHtml = tweetsContainerElement.innerHTML
                tweetsContainerElement.innerHTML = newTweetElement + ogHtml
                myForm.reset()
            } else if (xhr.status=== 400) {
                const errorJSON = xhr.response
                const contentError = errorJSON.content
                let contentErrorMsg;
                if (contentError) {
                    contentErrorMsg = contentError[0]
                    if (contentErrorMsg) {
                        handleTweetFormError(contentErrorMsg, true)
                    } else {
                        alert('An error occured. Please try again.')
                    }
                }
                else {
                    alert('An error occured. Please, try again.')
                }

            } else if (xhr.status === 500) {
                alert("Oops! There was a server error. Please, try again!")
            } else if (xhr.status === 403) {
                alert("You must first login in order to do this action.")
                window.location.href = '/login'
            }
                
        }
        xhr.onerror = function() {
            alert('Oops! Some error is occured. Maybe you will try later?')
        }
        xhr.send(myFormData)
    }
    const newTweetFormElement = document.getElementById('tweet-create-form')
    newTweetFormElement.addEventListener('submit', handleTweetFormSubmit)

    const tweetsContainerElement = document.getElementById('tweets') // in jquery: $("#tweets")

    function loadTweets(tweets_element) {
        const xhr = new XMLHttpRequest()
        const method = 'GET'
        const url = '/tweets'
        const responseType = 'json'
        xhr.responseType = responseType
        xhr.open(method, url)

        xhr.onload = function() {
            const serverResponse = xhr.response
            const listedItems = serverResponse
            var finalTweetStr = ""
            var i;
            for (i=0; i < listedItems.length; i++) {
                var tweetObj = listedItems[i]
                var currentTweet = formatTweets(tweetObj)
                finalTweetStr += currentTweet
            }
            tweets_element.innerHTML = finalTweetStr
        }
        xhr.send()
    }
    
    loadTweets(tweetsContainerElement)
    
    function tweetActionBtn(tweet_id, currentCount, action) {
        console.log(tweet_id, currentCount)
        const url = 'api/tweet/action'
        const method = 'POST'
        const data = JSON.stringify({
            id: tweet_id,
            action: action
        })
        const xhr = new XMLHttpRequest()
        const csrftoken = getCookie('csrftoken');
        xhr.open(method, url)
        xhr.setRequestHeader("Content-Type", "application/json")
        xhr.setRequestHeader("HTTP_X_REQUESTED_WITH", "XMLHttpRequest")
        xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest")
        xhr.setRequestHeader("X-CSRFToken", csrftoken)
        xhr.onload = function() {
            loadTweets(tweetsContainerElement)
        }
        console.log(data)
        xhr.send(data)
        return
    }
 
    function UnlikeBtn(tweet) {
        return "<button class='btn btn-outline-primary btn-sm' onclick=tweetActionBtn(" + 
            tweet.id + "," + tweet.likes + ",'unlike')>Unlike</button>"
    }

    function RetweetBtn(tweet) {
        return "<button class='btn btn-outline-success btn-sm' onclick=tweetActionBtn(" + 
            tweet.id + "," + tweet.likes + ",'retweet')>Retweet</button>"
    }

    function LikeBtn(tweet) {
        return "<button class='btn btn-primary btn-sm' onclick=tweetActionBtn(" + 
            tweet.id + "," + tweet.likes + ",'like')>" + tweet.likes + " Likes</button>"
    }


    function formatTweets(tweet) {
        var formattedTweet = "<div class='col-12 col-md-10 mx-auto border rounded py-3 mb-4 tweet' id='tweet-" + tweet.id + "'><p>" + tweet.content +
             "</p><div class='btn-group'>" + 
                LikeBtn(tweet) + 
                UnlikeBtn(tweet) +
                RetweetBtn(tweet) +
                "</div></div>"
        return formattedTweet
    }

    
</script>
{% endblock content %}