{% extends 'base.html' %}

{% block content %}
Welcome to SociaT

<div id='tweets'>
    Loading...
</div>

<script>
    const tweetsElement = document.getElementById('tweets') // in jquery: $("#tweets")

    const xhr = new XMLHttpRequest()
    const method = 'GET'
    const url = '/tweets'
    const responseType = 'json'
    
    function formatTweets(tweet){
        var formattedTweet = "<div class='mb-4 tweet' id='tweet-" + tweet.id + "'><p>" + tweet.content + "</p></div>"
        return formattedTweet
    }

    xhr.responseType = responseType
    xhr.open(method, url)

    xhr.onload = function() {
        const serverResponse = xhr.response
        const listedItems = serverResponse.response
        var finalTweetStr = ""
        var i;
        for (i=0; i < listedItems.length; i++) {
            var tweetObj = listedItems[i]
            var currentTweet = formatTweets(tweetObj)
            finalTweetStr += currentTweet
        }

        tweetsElement.innerHTML = finalTweetStr
    }
    xhr.send()
</script>
{% endblock content %}